html {
	overflow:hidden;
	background: #323232;
	margin-bottom: -20px;
}

#content {
	background: #99cfd9;
	color:#ffffff;
}
.container {
	padding-left: 40px;
	height: 100px;
	max-width:100%;
}
#logo {
	background: url("../img/icon-90.png") no-repeat 0 50%;
	display: block;
	width: 90px;
	height: 100px;
	overflow: hidden;
	text-indent: 100%;
	float: left;
}
.navbar-nav {
  width: calc(100% - 90px);
}
h2 {
	margin:0;
}
.navbar-nav li {
	margin:10px 20px;
}
	#comments { 
		margin-top:0;
		font-size: 20px;
	}

.btn-linkslap {
  color: #FFFFFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007A8F;
  *background-color: #007A8F;
  background-image: -moz-linear-gradient(top, #00869F, #007A8F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00869F), to(#007A8F));
  background-image: -webkit-linear-gradient(top, #00869F, #007A8F);
  background-image: -o-linear-gradient(top, #00869F, #007A8F);
  background-image: linear-gradient(to bottom, #00869F, #007A8F);
  background-repeat: repeat-x;
  border-color: #007A8F;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00869F', endColorstr='#007A8F', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn:focus {
  outline: 0;
}

.btn-linkslap:hover,
.btn-linkslap:active,
.btn-linkslap.active {
  color: #FFFFFF;
  background-color: #02778C;
  *background-color: #02778C;
  background-image: -moz-linear-gradient(top, #02778C, #02778C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#02778C), to(#02778C));
  background-image: -webkit-linear-gradient(top, #02778C, #02778C);
  background-image: -o-linear-gradient(top, #02778C, #02778C);
  background-image: linear-gradient(to bottom, #02778C, #02778C);
  background-repeat: repeat-x;
  border-color: #02778C;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02778C', endColorstr='#02778C', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-linkslap.disabled,
.btn-linkslap[disabled] {
  color: #ddd !important;
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #0B5866;
  *background-color: #0B5866;
  background-image: -moz-linear-gradient(top, #0B5866, #0B5866);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0B5866), to(#0B5866));
  background-image: -webkit-linear-gradient(top, #0B5866, #0B5866);
  background-image: -o-linear-gradient(top, #0B5866, #0B5866);
  background-image: linear-gradient(to bottom, #0B5866, #0B5866);
  background-repeat: repeat-x;
  border-color: #0B5866;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B5866', endColorstr='#0B5866', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}