html, body {
  overflow: hidden;
  font-family: 'Varela', sans-serif;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
header {
  background:rgb(153,207,217);
  border-bottom:10px solid rgb(50,50,50);
  padding: 5px 0;
}
  #logoText {
    margin: 10px 0 0 10px;
  }

#linkslap {
  width:418px;
  padding:15px;
  background: url('../img/background.png');
  max-height: 500px;
  overflow-y:auto;
}
.dark-grey {
  background: rgb(50,50,50);
}
.btn-linkslap {
  color: #FFFFFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #00869F;
  border-color: #ffffff; /* rgba(0, 0, 0, 0.15); */
}
header .btn-linkslap {
  border-color: rgba(0, 0, 0, 0.15);
}
.btn:focus {
  outline: 0;
}

.btn-linkslap.hover,
.btn-linkslap:hover,
.btn-linkslap:active,
.btn-linkslap.active {
  color: #FFFFFF;
  background-color: #02778C;
}

.btn-linkslap.disabled,
.btn-linkslap[disabled] {
  color: #ddd !important;
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #0B5866;
}
.onboarding h1, .onboarding h2, .onboarding h3 {
  color:#73242c;
  text-transform: uppercase;
}
.onboarding h1 {
  font-size: 22px;
  margin-bottom:5px;
}
.onboarding h2 {
  margin:0;
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
}
.onboarding h3 {
  margin:0;
  font-size: 13px;
  display: inline-block;
}
.onboarding ul {
  list-style: none;
  margin:0;
  padding-left:30px;
}
.onboarding li {
  padding-bottom: 20px;
}
.onboarding li > span {
  margin-left: -30px;
  display: inline-block;
  width:20px;
  height: 20px;
  line-height: 18px;
  text-align: center;;
  color:#73242c;
  background:#f6c500;
  border:solid 1px #73242c;
  border-radius: 10px;
  vertical-align: top;
}
.onboarding p {
  color:#4b91af;
}
.onboarding hr {
  border-color:#abd3de;
}
.onboarding .left-this {
  width:50px;
  position: relative;
}
.onboarding .right-this {
  width:50px;
  position: relative;
}
.onboarding li:nth-child(2) .left-this {
  left: 50px;
  margin:5px 0 -10px;
}
.onboarding li:nth-child(3) .right-this {
  left: 240px;
  margin-bottom:-20px;
}
.onboarding li:nth-child(4) .right-this {
  left: 50px;
  margin-bottom:-20px;
}
.onboarding li:nth-child(5) .left-this {
  left: 215px;
  margin-bottom: -20px;
}
.onboarding li:nth-child(6) .right-this {
  left: 203px;
  margin-bottom: -20px;
}
#onboardingLogo {
  width:70%;
  display: block;
  margin:0 auto;
  padding-bottom: 15px;
}

.title {
  margin-top:0;
  color: rgb(50,50,50);
}
.listing-group {
  width:100%;
}
.subscription {
  padding-bottom: 5px;
}
.share-button {
  width:calc(100% - 118px);
}
.gif-icon {
  display: inline-block;
  position: relative;
}
.gif-row {
  padding-bottom: 10px;
}
  .gif-row div:nth-child(1) {
    padding-right:7px;
  }
  .gif-row div:nth-child(2) {
    padding-left:7px;
  }
.no-gutter {
  margin-left:0;
  margin-right: 0;
}
.loader {
  top:0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, .5) url('../img/ajax-loader.gif') 50% 50% no-repeat;
}

#giphy {
  width:80px;
}
h4 {
  margin-top: 0;
}
h4 a,
h4 a:hover {
  color: #333;
}
.pagination {
  margin-top:0;
}
.share-img-preview {
  margin:0 auto 10px;
  min-width: 100%;
}
.settings-item {
  padding-left:0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}