<div data-ng-controller="FindGifCtrl as find" class="row">
	<div class="col-xs-12">
		<h4>Search for Gifs</h4>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="search" class="form-control" placeholder="Search gif" data-ng-model="search" ng-model-options="{debounce: 500}">
			</div>
		</form>
		<div class="row gif-row">
			<a data-ng-repeat="i in pageCount" href="#" data-ng-click="$event.preventDefault();searchGif($index)" class="btn btn-linkslap" data-ng-class="{'disabled' : $index === currentPage}">{{$index + 1}}</a>
		</div>
		<div class="row gif-row" data-ng-repeat="row in results">
			<div class="col-xs-6" data-ng-repeat="result in row" >
				<a href="#/share-link/{{subscriptionId}}?url={{result.image | escape}}&comment={{search | escape}}" class="gif-icon" data-ng-init="image = result.thumb" data-ng-mouseenter="image = result.image" data-ng-mouseleave="image = result.thumb">
					<img class="img-responsive" data-ng-src="{{image}}" />
				</a>
			</div>
		</div>
		<div class="row">
			<a data-ng-repeat="i in pageCount" href="#" data-ng-click="$event.preventDefault();searchGif($index)" class="btn btn-linkslap" data-ng-class="{'disabled' : $index === currentPage}">{{$index + 1}}</a>
		</div>
	</div>
</div>
