<div data-ng-controller="ForgotPasswordCtrl" class="row">
	<form class="col-xs-12" data-ng-submit="submitForm()">
		<h2 class="title">Forgot Password</h2>
		<div data-ng-if="showSuccess" class="alert alert-success">
			<p>An email has been sent to your address.  Follow the instructions to reset your password.</p>
		</div>
		<div class="alert alert-danger" data-ng-if="errorMessage && errorMessage.length">
			<p data-ng-repeat="error in errorMessage">{{error}}</p>
		</div>
		<div class="form-group">
			<label for="email" class="control-label">Email</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input type="text" class="form-control" id="email" placeholder="Enter email" data-ng-model="email" />
			</div>
		</div>
		<div class="form-group clearfix">
			<a href="#/authenticate">Back</a>
			<button class="btn btn-linkslap btn-lg pull-right" type="submit" data-ng-disabled="!email || disableButton">Reset Password</button>
		</div>
	</form>
</div>
