<div data-ng-controller="ListingCtrl" class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<li class="btn-group" data-ng-repeat="subscription in subscriptions">
				<a href="#/share-link/{{subscription.id}}"  class="share-button btn btn-linkslap" title="Share to {{subscription.stream.name}}">{{subscription.stream.name}}</a>
				<button data-ng-click="openStream(subscription)" class="btn btn-linkslap" title="Open stream"><i class="glyphicon glyphicon-new-window" /></button>
				<a href="#/settings/{{subscription.id}}" class="btn btn-linkslap" title="Edit stream"><i class="glyphicon glyphicon-cog" /></a>
			</li>
		</ul>
	</div>
	<div class="col-xs-12 text-right">
		<a href="#/new-stream" class="btn btn-linkslap">New Stream</a>
	</div>
</div>
